@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
line-height: normal;    }
  }
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  .no-number-spin {
    -moz-appearance: textfield; /* For Firefox */
  }
  .no-number-spin::-webkit-outer-spin-button,
  .no-number-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #8e6a16;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
    .addBtn {
      background: #f5f2ed;
      color: rgb(27, 31, 40);
      border: 25px;
      box-shadow: 4px;
    }
    .addBtnHover{
   background: #e6e2dd
   
    }
    .modalAddBtn {
      background: #51a2b4;
      color: black;
    }
    .modalAddBtnHover{
   background: #1ac4d3
    }
    .cardBtn {
      background: #afbbaa;
      color: black;
      border: 1;
      padding: 10px;
      border-radius: 20px;
    }
    .cardHover{
   background: #bee7eb
    }
    .mainClr{
        background-color: #f4f6f8;
    }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out;
}